body {
    max-width: 50rem; /* 50 * 16px = 800px*/
    margin: auto;
    color: #000;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li {
    padding: 2rem 1.5rem;
}

nav li a {
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
}

section.section--banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2eca7f;
    position: relative;
    min-height: 10rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section.section--banner img {
    max-width: 10rem;
    max-height: 10rem;
    height: auto;
    width: auto;
    position: absolute;
    bottom: -1rem;
    left: 3rem;
}

section.section--banner div {
    position: absolute;
    right: 3rem;
    top: 1rem;
}

ul {
    list-style: none;
}

footer {
    text-align: center;
}

